.form-div{
    display: flex;
}
.td-form{
    display: flex;
    justify-content: center;
}
.margin-l-6{
    margin: 0px 15px;
}
.alarete-display-none{
    display: none !important;
}
.alarete-display-block{
    display: block !important;
}