
<div class="container">
    <input type="text" class="form-control w-50 my-4" 
    placeholder="enter your name" [(ngModel)]="model" name="model" >
    <button type="button" class="btn btn-primary" 
    (click)="filterPost()">filter Posts</button>
    <table class="table table-hover table-striped table-bordered " >
        <thead class="table-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let item of savedPost;let i = index " >
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td><button (click)="deletePost(i)" class="btn btn-danger mx-2">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>