{{>nav}}
<form action="/addTask" method="get" >
<div class="form-floating m-2 mb-3 fs-6">
        <input type="text" class="form-control" name="title" placeholder="enter title" required>
        <label for="floatingInput">title</label>
    </div>
    <div class="form-floating m-2 mb-3 fs-6">
        <input type="text" class="form-control" name="age" placeholder="enter age" required>
        <label for="floatingInput ">age</label>
    </div>
    <div class="form-floating m-2 mb-3 fs-6">
        <input type="email" class="form-control" name="email" placeholder="enter email" required>
        <label for="floatingInput ">email</label>
    </div>
    <div class="form-floating m-2 mb-3 fs-6">
        <input type="text" class="form-control" name="gender" placeholder="enter gender" required>
        <label for="floatingInput ">gender</label>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Add Task</button>
    </div>
</form>
{{>footer}}